input, optgroup, select, textarea {
    color: #000 !important;
}

/* Notes techniques privées */
.note-technique {
    font-size: 50%;
}

.sf-h2 {
    font-family: var(--font-display);
    font-weight: 400;
    /*font-size: clamp(2.4rem, 6vw, 4.4rem);*/
    font-size: clamp(1.4rem, 6vw, 3rem);
    line-height: 1.02;
    letter-spacing: -.025em;
    margin: .35em 0 .25em;
}

.sf-h3 {
    font-family: var(--font-display);
    font-weight: 400;
    /*font-size: clamp(2.4rem, 6vw, 4.4rem);*/
    font-size: clamp(1rem, 6vw, 2rem);
    line-height: 1.02;
    letter-spacing: -.025em;
    margin: .35em 0 .25em;
}

.auth-container {
    display: flex;
    justify-content: center;   /* centrage horizontal */
    align-items: center;       /* centrage vertical */
    min-height: 100vh;       
}

.auth-container form {
    width: 400px;
    border: solid 1px gray;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .2);
    padding: 15px;
}

.auth-container label, .auth-container label span, .auth-container a,
.dark .auth-container label, .dark .auth-container label span, .dark .auth-container a {
    color: #ddd !important;
}

.auth-container a:hover, .dark .auth-container a:hover {
    color: #fff !important;
}